@model RecursoHumanoProyecto.Models.Departamento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departamento1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreDepartamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreDepartamento)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-default" href="~/Departamentos/Index">Hacia Atra</a>
    <a class="btn btn-primary" href="~/Departamentos/Edit/@Model.Id">Editar</a>
</p>
