@model RecursoHumanoProyecto.Models.SalidaEmpleado

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>SalidaEmpleado</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group has-success has-feedback">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                <span class="glyphicon glyphicon form-control-feedback"></span>
            </div>
        </div>

        <div class="form-group has-success has-feedback">
            @Html.LabelFor(model => model.IdEmpleado, "IdEmpleado", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdEmpleado", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdEmpleado, "", new { @class = "text-danger" })
                <span class="glyphicon glyphicon form-control-feedback"></span>
            </div>
        </div>

        <div class="form-group has-success has-feedback">
            @Html.LabelFor(model => model.TipoSalida, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TipoSalida, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TipoSalida, "", new { @class = "text-danger" })
                <h4>Digiste Renuncia,Despedida, Desahucio</h4>
                <span class="glyphicon glyphicon form-control-feedback"></span>
            </div>
        </div>

        <div class="form-group has-success has-feedback">
            @Html.LabelFor(model => model.Motivo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Motivo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Motivo, "", new { @class = "text-danger" })
                <span class="glyphicon glyphicon form-control-feedback"></span>
            </div>
        </div>

        <div class="form-group has-success has-feedback">
            @Html.LabelFor(model => model.FechaSalaida, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaSalaida, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaSalaida, "", new { @class = "text-danger" })
                <span class="glyphicon glyphicon form-control-feedback"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    <a class="btn btn-default" href="~/SalidaEmpleados/Index">Hacia Atra</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
