@model IEnumerable<RecursoHumanoProyecto.Models.SalidaEmpleado>

@{
    ViewBag.Title = "SalidaEmpleadoPorMes";
}






<h2>SalidaEmpleadoPorMes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm(" SalidaEmpleadoPorMes", "SalidaEmpleados", FormMethod.Get))
    {
<p>

    Buscar el Nombre: @Html.TextBox("Salida_Por_Mes")<br />
    <input type="submit" value="Busqueda" />
</p>

    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoSalida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Motivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaSalaida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleados.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoSalida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Motivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaSalaida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleados.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
