@model RecursoHumanoProyecto.Models.Empleados
@using RecursoHumanoProyecto.Models

@{
    ViewBag.Title = "Deshabilitar";
}

<h2>Deshabilitar</h2>


<div class="form-horizontal">

    @using (Html.BeginForm("Deshabilitar", "Empleados", FormMethod.Post))
    {



        <div class="form-group has-success has-feedback">
            @Html.LabelFor(model => model.Estatus, "Estatus", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(a => a.Estatus, "Estatus", new { @class = "form-control" })

                <span class="glyphicon glyphicon form-control-feedback"></span>
            </div>
        </div>


        <div class="form-group has-success has-feedback">
            @Html.LabelFor(model => model.Nombre, "Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(a => a.Nombre, "Nombre", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                <span class="glyphicon glyphicon form-control-feedback"></span>
            </div>
        </div>



        <input type="submit" value="Cambiar" />
    }


</div>