@model IEnumerable<RecursoHumanoProyecto.Models.Empleados>

@{
    ViewBag.Title = "EmpleadoInactivo";

}

<h2>EmpleadoInactivo</h2>

<p>

    @using (Html.BeginForm("EmpleadoInactivo", "Empleados", FormMethod.Get))
    {

    <p>

        Buscar el Nombre: @Html.TextBox("buscar")<br />
        <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-search"></span> Search
        </button>

    </p>
}
    </p>





 

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo.CargoEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento.NombreDepartamento)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Estatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo.CargoEmpleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento.NombreDepartamento)
                </td>

            </tr>
        }

    </table>
