@model IEnumerable<RecursoHumanoProyecto.Models.Empleados>

@{
    ViewBag.Title = "EntradaEmpleada";
}

<h2>Lista</h2>

<p>
    
    @using (Html.BeginForm("EntradaEmpleada", "Empleados", FormMethod.Get))
    {

<p>





    Buscar el Nombre: @Html.TextBox("Nombre_Empleados")<br />
    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-search"></span> Buscar
    </button>

</p>
}




    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo.CargoEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento.NombreDepartamento)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dias)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Anos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo.CargoEmpleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento.NombreDepartamento)
                </td>
                <td>
                   
                </td>
            </tr>
        }

    </table>
